<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>SWproject_Board</h1>
        <P>황상준의 게시판</p>
      </div>

    </div>
  </body>
</html>
